<div class="left-about">
    <p>Collectorz Corner is a resource for collectors who collect items such as books, comic books, movies, games, DVDs, etc. It is a resource to help collectors keep track of their collections and manage them easily. During this project we hope to display the skills we have learnt during our classes by creating a working resource. We also hope to bring to life a social environment that appeals to collectors who want to share and store their personal collections. 
      <br /><br />
      Collectorz Corner will allow collectors to: catalogue, manage and share their collections. It will help collectors store their collections and compare it to others. With this system users will be able to create collections, track them, share collection lists with friends, search collections, organize and categorize collections and add personalized content to the collection pages. 
    </p>
</div>
<script type="text/javascript">    //Needed for twitter button
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
<div class="right-img well" style="margin-top:-50px;"> 
    <!-- Twitter button -->
    <a href="https://twitter.com/collectorzcornr" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow Collectorz Corner</a>
    <!-- Facebook button --> 
    <iframe src="https://www.facebook.com/plugins/like.php?href=www.collectorzcorner.com"
        scrolling="no" frameborder="0"
        style="border:none; height:80px"></iframe>
       
    <h2>Register Today!</h2>  
    <ul>
        <li>Manage and track your collections of books, comic books, games and movies!</li>
        <li>Connect with others about your favourite hobby</li>
        <li>Gain access to the Collectorz Corner forum</li>
        <li>Have your collection in the spotlight</li>
    </ul> 
    
    <p>Click to @Html.ActionLink("Register", "Register","Account") Here!</p>          

</div>